.quarto-title-block .quarto-title-banner {
  background-image: url(Logo/DCRlogo.jpg);
  background-size: 400px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: -200px;
  background-origin: content-box;
}